<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Kbase 服务器设置，适用于Kbase导出文件及更新Kbase数据_Start-->
    <add key="Kip" value="192.168.106.56"/>
    <add key="Kport" value="4567"/>
    <add key="Kname" value="DBOWN"/>
    <!--Kbase 服务器设置，适用于Kbase导出文件及更新Kbase数据_End-->

    <!--Mysql 数据导出， 服务器设置_Start-->
    <add key="Mip" value="192.168.106.60"/>
    <!--端口号，默认：3306-->
    <add key="Mport" value="3306"/>
    <!--用户名-->
    <add key="Mname" value="root"/>
    <!--密码-->
    <add key="Mpass" value="cnkittod"/>
    <!--Mysql 数据导出， 服务器设置_End-->
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>